* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

body,
h1 {
    margin: 0;
}

.hero {
    background-color: #23424a;
    padding: 8em 6em;
    color: white;
}

.hero-content {
    width: 50%;
}

h1 {
    font-weight: 900;
    font-size: 48px;
}

p {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 3em;
}

button {
    font-family: inherit;
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;
    background: #38cfd9;
    border-radius: 3em;
    border-style: none;
    letter-spacing: 0.05em;
    line-height: 1.5;
    padding: 0.5em 1em;
}
